
.back{
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center;
}
table {
font-family: 'Montserrat', sans-serif;
border-collapse: collapse;
background-color: #000066;
color: white;
margin-left: 60px;
}

td, th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
  
  
}

#title{
    text-align: center; 
    color: white;
}

tr:nth-child(even) {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border: 1px solid white;
  padding: 8px;
  color: #000066;
}


