
*{
	padding:0;
	margin:0;
}

header{
	text-align: center;
	padding-top: 100px;
	margin-bottom:20px;
}
 
footer{
	position: fixed;
	bottom: 0;
	
}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:30px; }
}
 

.footer-block{
	
	background-color: #000066;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 20px 30px 5px 30px;
	margin-top: 20px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
 
.footer-block .footer-left,
.footer-block .footer-center,
.footer-block .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-block .footer-left{
	width: 30%;
}
 
/* logo */
 
.footer-block .footer-left img{
	width: 60%;
}
 
 
/* Footer links */
 
.footer-block .footer-links{
	color:  #ffffff;
	margin: 20px 20px 20px 20px;
}
 
.footer-block .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 

/* Footer Center */
 
.footer-block .footer-center{
	width: 35%;
}
 
 
.footer-block .footer-center i{
	background-color:  #636a6e;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-block.footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;

}
 
.footer-block .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-block .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-block .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-block .footer-right{
	width: 30%;
}
 
.footer-block .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-block .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer-block .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin-top: 30px;
	
}
 
@media (max-width: 880px) {
 
	.footer-block .footer-left,
	.footer-block .footer-center,
	.footer-block .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-block .footer-center i{
		margin-left: 0;
	}
 
}